


	/* Page Default */
	body{
		margin: 0px;
		font-family: "Papyrus",serif;
	}
	#top,
	#bottom{
		display: block;
		visibility: hidden;
		background-color: black;
		width: 100%;
		height: 1px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	/* Page Menubar */
	.menubar{
		display: block;
		position: fixed;
		text-align: right;
		background-color: rgba(230, 230, 250, 0.8);
		width: 100%;
		margin-top: 0px;
	}
	.ahref{
		display: inline-block;
		text-align: center;
		/*background-color: aliceblue;*/
		width: px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 0px;
		margin-right: 30px;
		font-size: 27px;
	}

	/* Page List */
	.mother-menu,
	.mother-ym{
		display: block;
		position: fixed;
		text-align: center;
		background-color: aliceblue;
		width: 100%;
		padding: 0px;
		margin-top: 0px;
		font-family: serif;
	}
	#check01,#close01,
	#check02,#close02{
		display: none;
	}
	#open01:hover,
	#open02:hover,
	.click-menu:hover,
	.click-ym:hover{
		opacity: 0.5;
	}
	#close01,
	#close02,
	nav{
		position: fixed;
		text-align: left;
		left: 0px;
		top: 0px;
		height: 100%;
	}
	#close01,
	#close02{
		z-index: 2;
		width: 100%;
		opacity: 0.8;
		transition: 0.5s;
	}
	.list-menu{
		z-index: 3;
		background-color: rgba(240, 248, 255, 1);
		background-color: lavender;
		width: 300px;
		margin-left: 15px;
		transition: 0.5s;
		transform: translateX(-315px);
	}
	.list-ym{
		z-index: 3;
		text-align: center;
		/*background-color: rgba(245, 245, 245, 0.5);*/
		width: 100%;
		height: 100%;
		transition: 1s;
		transform: translateY(100%);
	}
	.choice{
		display: inline-block;
		text-align: center;
		background-color: lavender;
		padding-top: 45px;
		padding-bottom: 60px;
		padding-left: 60px;
		padding-right: 60px;
		margin-top: 150px;
		border-radius: 15px;
		box-shadow: 1px 1px 2px black;
	}
	.click-menu,
	.click-ym{
		display: block;
		font-family: serif;
		text-decoration: none;
		color: black;
	}
	.click-menu:link,.click-menu:visited,
	.click-ym:link,.click-ym:visited,{
		color: black;
	}
	.click-menu{
		/*background-color: royalblue;*/
		margin-top: 35px;
		margin-left: 30px;
		font-size: 22px;
	}
	.click-ym{
		/*background-color: aliceblue;*/
		margin-top: 20px;
		font-size: 22px;
		color: black;
	}
	#check01:checked ~ #close01,
	#check02:checked ~ #close02{
		display: block;
	}

	#check01:checked ~ nav,
	#check02:checked ~ nav{
		transform: translateX(0);
	}

	/* Page Decoration */
	.tweet-log{
		display: block;
		text-align: center;
		/*background-color: salmon;*/
		margin-top: 150px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		font-size: 100px;
		font-family: serif;
		text-shadow: 1px 1px 2px black;
	}
	.blue{
		color: rgba(65, 105, 225, 1);
	}
	.yer-month{
		display: block;
		text-align: center;
		/*background-color: blue;*/
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		font-size: 16px;
		font-family: serif;
	}
	.yer{
		font-size: 50px;
	}
	.month{
		font-size: 100px;
		color: rgba(48, 123, 96, 1);
		text-shadow: 1px 1px 1px black;
	}

	/* Tweet Decoration */
	.mainground{
		display: block;
		text-align: center;
		/*background-color: blue;*/
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}
	.tweet{
		display: inline-block;
		vertical-align: top;
		/*background-color: blue;*/
		width: 250px;
		padding-top: 0px;
		padding-bottom: 50px;
		margin-left: 15px;
		margin-right: 15px;
	}
